@import "../Global/mixin";
.title{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    h1{
        font-family: sans-serif;
    }
}
.hr{
    margin: 0% 15% 5% 15%;
}
form{
    display: flex;
    flex: 3;
    margin-top: 5%;
  
}
.form-left{
    background: $background;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding: 15px;
    margin: 0 10%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.input-text 
    input{
        margin-right: 15px;
        @include responsive (tablet){
            width: 85%;
            margin-bottom: 5%;
        }
}
.email, .select{
    @include responsive(tablet){
        margin-bottom: 15px;
    }
}
.email input, .select input{
    width: 85%;
}
.input-text, .email, .select{
    padding: 10px 10px 7px 0;
    margin-left: 18.2px;
    @include responsive(tablet){
        padding: 0px 10px 0px 0;
    }

}
.input-text input, .email input, .select input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    padding-right: 10%;
}
.checkbox{
    margin-left: 17px;
    color: white;
}
.form-button{
    display: flex;
    justify-content: end
}
.form-button button{
    margin-right: 23px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background:$yellow;
    @include responsive(phone){
        margin-right: 5%;
    }
}
.form-right{
    flex: 1.5;
    @include responsive(phone){
        display: none;
    }
}
.connect-one p, .connect-one i{
    margin-top: -10%;
}
.connect-one p{
    margin-top: 0%;
}